html,
body {
	background-color: #ebf4ff;
	padding: 0;
	margin: 1rem 1.25rem;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
	margin: 0;

	font-weight: bold;
	font-size: 32px;

	line-height: 38px;
}

* {
	box-sizing: border-box;
}
