.timeTable {
	min-width: 312px;
	border-collapse: collapse;
	text-align: right;
}

.timeTable input {
	width: 200px;
}

.totalHeadingRow {
	background-color: #333;
	color: white;
}

.totalRow {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.totalRow td {
	padding: 5px;
}

.totalValue {
	display: block;
	min-width: 100px;
	background: green;
	color: white;
}
